:root {
	--rem-base: 10px;
	--base-font-size: 16px;
	--base-line-height: 1.5;
	--vertical-rhythm: calc(var(--base-line-height) * 1em);
	--brand-color: #001335;
	--brand-color-dark: black;
	--brand-color-light: #002e82;
	--accent-color: #0d76bd;
	--accent-color-dark: #084975;
	--accent-color-light: #084975;
	--base-text-color: #555;
	--base-link-color: var(--brand-color);
	--h1-h6-color: var(--brand-color);
	--animation-duration: 0.3s;
	--animation-timing-function: ease;
	--input-x: 32px;
	--gutter: 25px;
	--input-color: #4b4a4a;
	--input-placeholder-color: #7e7d7d;
	--input-bg-color: #e8ecf0;
	--input-radius: 0;
	--input-border-color: #c4c4c4;
	--input-focus-border-color: #a3a3a3;
	--form-theme-color: #001335;
	--checkbox-size: 18px;
	--radio-size: 18px;
	--label-fz: 13px;
	--label-color: #4b4a4a;
	--error-color: #e04562;
	--error-bg-color: #fadee3;
	--form-col-gutter: 15px;
	--form-row-margin: 22.5px;
	--h1: 5rem;
	--h2: 50px;
	--h3: 2.8rem;
	--h4: 2.4rem;
	--h5: 18px;
	--h6: 14px;
	--btn-y: 10px;
	--btn-x: 32px;
	--btn-b: 2px;
	--btn-r: 0;
	--btn-fz: 16px;
}
@media (max-width: 1023px) {
	:root {
		--h1: 36px;
		--h2: 32px;
		--h3: 20px;
		--h4: 20px;
		--h5: 16px;
		--h6: 16px;
	}
}
@media (max-width: 667px) {
	:root {
		--btn-y: 10px;
		--btn-x: 32px;
		--btn-b: 2px;
		--btn-r: 0;
		--btn-fz: 16px;
	}
}
@media (min-width: 812px) and (max-height: 414px) and (orientation: landscape) {
	:root {
		--gutter: 50px;
	}
}
